body
html
  margin 0
  padding 0
  width 100%
  height 100%

.page-wrapper
  width 100%
  height 100%
  display table
  overflow hidden

.page-header
.page-footer
  display table-row
  height 1px

.page-content
  display table
  width 100%
  height 100%
  table-layout fixed


// grid light
// .container
//   margin 0 auto
//   padding 0 container_offset
//   width container_width
//   cf()

// csswizardry grid
// .container
//   @extends .cf
//   min-width $container_min
//   max-width $container_max
//   margin 0 auto
//   padding-left $desk_offset
//   padding-right $desk_offset
//   width 100%


//   @media $lap
//     padding-left $lap_offset
//     padding-right $lap_offset

//   @media $palm
//     padding-left $palm_offset
//     padding-right $palm_offset
