// =========================
// Body reset
// =========================
*
*:before
*:after
  box-sizing inherit


html
  font-size 10px
  -webkit-tap-highlight-color rgba(0,0,0,0)
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  box-sizing border-box


body
  font-family ff_base
  font-size fz_base
  line-height lh_base
  color c_base
  background-color bg_base
  box-sizing border-box





// =========================
// Images
// =========================
img
  img-responsive(inline-block)





// =========================
// Horizontal rules
// =========================
hr
  margin 1em 0
  border 0
  border-top 1px solid #000





// =========================
// Headers
// =========================
h1
.h1
h2
.h2
h3
.h3
h4
.h4
h5
.h5
h6
.h6
  display block
  font-family ff_base
  font-weight 700
  margin 0
  color c_base

// h1
// .h1
//   font-size 32px
//   line-height 1
//   margin 0 0 16px

// h2
// .h2
//   font-size 24px
//   margin 0 0 12px
//   line-height 1

// h3
// .h3
//  font-size 18px
//  margin 0 0 12px




// =========================
// base text
// =========================
// p
//   margin 0 0 12px

// .lead
//   font-size fz_huge
//   font-weight 600

// .muted
//   color c_muted

// strong
//   font-weight 700
//   font-family ff_base

// small,
// .small
//   font-size 80%

// .text-huge
//   font-size fz_huge





// =========================
// Lists
// =========================
// ol
// ul
//   margin 10px 0

//   li
//     margin 0

//   li + li
//     margin-top 5px

// dl
//   dt
//   dd
//     margin 0


// =========================
// Tables
// =========================
table
  border-collapse collapse
  border-spacing 0

td
th
  padding 5px 10px
  border 1px solid #000





// =========================
// Links
// =========================
a
  color c_link
  text-decoration underline

  &:hover
    color c_link
    text-decoration none

  &:active
  &:focus
    outline none
    color c_link
    text-decoration none


// reverse default text-decorations
td-reverse()
  text-decoration none

  &:hover
  &:active
  &:focus
    text-decoration underline

.td-reverse
  td-reverse()


// remove text-decorations
tdn()
  text-decoration none

  &:hover
  &:active
  &:focus
    text-decoration none

.tdn
  tdn()




// =========================
// Inputs
// =========================
input
button
select
textarea
  font-family inherit
  font-size inherit
  line-height inherit

  // &:focus
  //   outline none


// iOS fixes
button
html input[type="button"]
input[type="reset"]
input[type="submit"]
  -webkit-appearance none
  cursor pointer
  border 0

button[disabled]
html input[disabled]
  cursor default

button::-moz-focus-inner
input::-moz-focus-inner
  border 0
  padding 0

button,
select
  text-transform none


input[type="text"]
textarea
  display inline-block
  vertical-align top




// =========================
// Quotes
// =========================
q
  quotes "\00ab" "\00bb" "\201e" "\201c"



// =========================
// Animations
// =========================

@keyframes shake {
  0%, 100% {
    transform: translate3d(0, 0, 0);
  }

  15%, 45%, 75% {
    transform: translate3d(-10px, 0, 0);
  }

  30%, 60%, 90% {
    transform: translate3d(10px, 0, 0);
  }
}
