//@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic);
@import "bootstrap/bootstrap.less";

// @font-face {
//   font-family: 'fontello';
//   src: url('../fonts/fontello.eot?123456789');
//   src: url('../fonts/fontello.eot?123456789#iefix') format('embedded-opentype'),
//        url('../fonts/fontello.woff?123456789') format('woff'),
//        url('../fonts/fontello.ttf?123456789') format('truetype'),
//        url('../fonts/fontello.svg?123456789#fontello') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }

// class^="icon-"]:before,[class*=" icon-"]:before{
//   font-family: "fontello";
//   font-style: normal;
//   font-weight: normal;
//   speak: none;
 
//   display: inline-block;
//   text-decoration: inherit;
//   width: 1em;
//   //margin-right: .2em;
//   text-align: center;
//   font-variant: normal;
//   text-transform: none;
//   line-height: 1em;
//   //margin-left: .2em;

// }
 
// .icon-something:before { content: '\e800'; } /* '' */






//your styles here:

.col-xs-4{
  margin-top: 20px;

  &>h2{
    text-align: center;
    padding: 10px 0;
    margin-bottom: 20px;
  }

  &:nth-child(2){
    background-color: #922;
    color: #fff;
    cursor: pointer;
  }
}



// “Begin at the beginning," the King said, very gravely, 
// "and go on till you come to the end: then stop.” 
//
// ````````````````````````````````````````````````````````````
// ```````````````````````¶¶``````¶¶`¶`````````````````````````
// ``````````````````````¶`¶¶¶¶``¶```¶`¶¶¶¶¶```````````````````
// ``````````````````````¶¶`¶¶`¶¶¶¶¶¶¶¶¶```¶¶``````````````````
// `````````````````````````¶¶¶¶``````¶¶`````¶¶````````````````
// ```````````````````````¶¶¶¶¶````````¶``````¶¶```````````````
// `````````````````````¶¶`¶¶¶`````````¶¶¶¶¶```¶¶``````````````
// ```````````````````¶¶``¶`¶`````````¶`````¶¶``¶``````````````
// ``````````````````¶¶```¶¶````````¶¶`````````````````````````
// `````````````````¶¶```¶`¶``````¶¶¶`````````¶¶```````````````
// `````````````````¶````¶¶`````¶¶```````````¶`¶```````````````
// ````````````````¶```¶¶¶¶¶````¶``¶¶¶¶``````¶¶¶```````````````
// ```````````````¶```¶`¶`¶`````¶```````````¶¶¶````````````````
// ```````````````¶`¶¶```¶¶`````¶```¶¶¶`````¶``````````````````
// ``````````````¶```````¶¶```¶¶¶``¶`¶¶`````¶```¶``````````````
// ````````````¶¶`````````¶¶¶¶¶¶```¶`````````¶``¶``````````````
// ```````````¶¶``````````¶¶`````¶`````````¶`````¶`````````````
// ````````¶¶¶``````````````¶¶`¶`¶¶`````````¶¶`¶`¶`````````````
// ``````¶¶¶````````````````¶`¶``¶`¶¶````¶¶¶¶¶`¶`¶`````````````
// `````¶¶`````¶¶```````````¶`¶```¶``¶¶``````¶``¶``````````````
// ```¶¶``````¶`¶¶¶¶¶````¶¶¶¶``¶¶¶`````¶¶¶¶¶¶¶`¶```````````````
// ``¶¶````````¶``¶¶``¶¶¶`¶``¶¶¶¶````````¶````¶¶```````````````
// ``¶`````````¶````¶¶¶````¶```¶¶¶````````¶```¶`¶``````````````
// `¶``````````¶```````¶¶```¶``````¶¶¶````¶```¶`¶``````````````
// `¶``````````¶`````````¶¶``¶¶```¶`¶¶````¶````¶¶``````````````
// ``¶`````````¶````¶¶¶¶```¶¶``¶¶¶``¶````¶`¶¶````¶¶````````````
// ``¶`````````¶``¶¶````¶¶¶`¶¶`````¶````¶¶``¶¶`````¶¶¶`````````
// ```¶¶````````¶``¶```````¶`¶`¶¶¶`````¶¶¶`¶¶`¶```````¶¶¶``````
// ````¶¶```````¶¶¶¶````````¶`¶¶``````¶```¶¶```¶¶````````¶¶````
// ``````¶¶¶```¶````¶```````¶````````¶`¶¶¶¶`¶¶¶``¶`````````¶¶¶`
// ```````¶`¶¶¶``````¶`````¶````````¶¶¶¶`¶``````¶¶¶````````````
// `````¶¶¶`¶¶````````¶````````````¶¶`````````````¶¶`````````¶`
// ````¶¶``¶¶````¶¶¶¶¶¶¶``````````¶¶````````````````¶¶```````¶`
// ```¶````¶¶¶¶¶¶```````¶```````¶¶````````````````````¶¶¶¶¶¶¶¶`
// ```¶¶¶¶¶``````````````¶¶````¶¶``````````````````````````````
// ``¶`````````````````````¶¶¶¶````````````````````````````````
// ````````````````````````````````````````````````````````````



// End of styles
@import "responsive.less";