---
title: "Шаблон страницы"
PixLayout: false
PLimage: "screenshot.png"
PLopacity: 0.6
PLcenter: false
PLtop: 0
PLleft: 0
---

<main class="page-content">
  <div class="container">

    <h1>Стандартные элементы</h1>

    <a href="#" class="btn">Кнопка</a>

    <form>
      <label for="CHECKBOX_NAME" class="checkbox">
        <input type="checkbox" name="CHECKBOX_NAME" id="CHECKBOX_NAME" class="checkbox__inp" value="CHECKBOX_NAME">
        <span class="checkbox__ind"></span>
        Чекбокс
      </label>
      <label for="RADIO_NAME1" class="radio">
        <input type="radio" name="RADIO_NAME" id="RADIO_NAME1" class="radio__inp" value="RADIO_NAME1">
        <span class="radio__ind"></span>
        Радио1
      </label>
      <label for="RADIO_NAME2" class="radio">
        <input type="radio" name="RADIO_NAME" id="RADIO_NAME2" class="radio__inp" value="RADIO_NAME2">
        <span class="radio__ind"></span>
        Радио2
      </label>

    </form>


  </div>
</main>