---
title: "Типографика"
PixLayout: false
PLimage: "screenshot.png"
PLopacity: 0.6
PLcenter: false
PLtop: 25
PLleft: 635
---
<h1>H1. Заголовок первого уровня</h1>
<h2>H2. Заголовок второго уровня</h2>
<h3>H3. Заголовок третьего уровня</h3>
<h4>H4. Заголовок третьего уровня</h4>
<h5>H5. Заголовок третьего уровня</h5>
<h6>H6. Заголовок третьего уровня</h6>
<p>
  Обычный текст для сплошного чтения: Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Рекламных буквенных вопрос первую дал напоивший власти имеет пунктуация продолжил она подпоясал грамматики пустился прямо имени, снова алфавит свое силуэт запятых обеспечивает переписывается свой бросил великий! Подпоясал продолжил, одна последний семь всеми реторический свой до свой семантика взгляд речью выйти.
</p>
<p>
  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Заманивший вопрос приставка рукопись сих, там, за назад. Путь дороге проектах, заглавных, снова рот лучше агенство своих первую жаренные великий.
</p>
<hr>
<p>
  Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Большой рукописи lorem, родного, прямо, обеспечивает реторический парадигматическая мир предложения ему по всей маленький ведущими вскоре заголовок жизни подпоясал приставка за.
</p>
<h1>
  (H1) Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
</h1>
<p>
  (P) Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
</p>
<hr>
<p>
  (P) Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
</p>
<h2>
  (H2) Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
</h2>
<p>
  (P) Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.
</p>
<img src="http://placehold.it/350x200" class="img">
<p>
  (P) Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.
</p>
<h3>
  (H3) Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века.
</h3>
<p><a href="#">(a) Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. </a>
</p>
<p><small>(small) Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. </small>
</p>
<p><b>(B) Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. </b>
</p>
<p> <strong>(STRONG) Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. </strong>
</p>
<p> <i>(I) Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. </i>
</p>
<p> <em>(EM) Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. </em>
</p>
<p> <del>(DEL) Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. </del>
</p>
<p> <ins>(ins) Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. </ins>
</p>
<p> <address>(address) Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. </address>
</p>
<hr>
<h1>Списки</h1>
<ul>
  <li>ul. Lorem Ipsum - это текст-"рыба"</li>
  <li>
    ul. Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
    <ul>
      <li>
        ul. Lorem Ipsum - это текст-"рыба"
        <ul>
          <li>ul. Lorem Ipsum - это текст-"рыба"</li>
          <li>
            ul. Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
          </li>
          <li>
            ul. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.
          </li>
        </ul>
      </li>
      <li>
        ul. Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
      </li>
      <li>
        ul. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.
      </li>
    </ul>
  </li>
  <li>
    ul. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.
  </li>
</ul>
<ol>
  <li>ol. Lorem Ipsum - это текст-"рыба"</li>
  <li>
    ol. Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
    <ol>
      <li>
        ol. Lorem Ipsum - это текст-"рыба"
        <ol>
          <li>ol. Lorem Ipsum - это текст-"рыба"</li>
          <li>
            ol. Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
          </li>
          <li>
            ol. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.
          </li>
        </ol>
      </li>
      <li>
        ol. Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
      </li>
      <li>
        ol. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.
      </li>
    </ol>
  </li>
  <li>
    ol. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.
  </li>
</ol>
<h1>Таблицы</h1>
<table>
  <tbody>
    <tr>
      <th>th. Lorem Ipsum - это текст-"рыба"</th>
      <th>
        th. Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
      </th>
      <th>
        th. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.
      </th>
    </tr>
    <tr>
      <td>td. Lorem Ipsum - это текст-"рыба"</td>
      <td>
        td. Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
      </td>
      <td>
        td. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.
      </td>
    </tr>
    <tr>
      <td>td. Lorem Ipsum - это текст-"рыба"</td>
      <td>
        td. Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
      </td>
      <td>
        td. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.
      </td>
    </tr>
    <tr>
      <td>td. Lorem Ipsum - это текст-"рыба"</td>
      <td>
        td. Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
      </td>
      <td>
        td. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов.
      </td>
    </tr>
  </tbody>
</table>
<h1>Список определений</h1>
<dl>
  <dt>(DT) lorem ipsum</dt>
  <dd>(DD) Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты.</dd>
  <dt>(DT) lorem ipsum</dt>
  <dd>(DD) Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты.</dd>
  <dt>(DT) lorem ipsum</dt>
  <dd>(DD) Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты.</dd>
</dl>
<h1>Цитата</h1>
<blockquote>(blockquote) Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Свою, о безорфографичный. Текстов вскоре, своего маленькая то обеспечивает скатился, дороге его необходимыми, несколько если буквенных свой. Она, скатился переписывается?</blockquote>
<p>
<q>(q)Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Заглавных мир всеми реторический домах!</q>
</p>