@import 'nib'
@import 'vendor/normalize.css'

// variables
@import 'var'

// mixins
@import 'mixins/*'

// global
@import 'global/font.css'
@import 'global/helpers'
@import 'global/type'
@import 'global/grid'
@import 'global/layout'

//vendor
// @import 'vendor/SOMETHING.css'

// blocks
@import 'blocks/*'

// responsive
// @import 'global/responsive.styl'