/*==========  GRID  ==========*/

grid_namespace = 'col';

column_count = 12;
column_gutter = 10px;

container_inner = 940px;
container_offset = column_gutter;
container_width = container_inner + ( 2 * container_offset );


/*==========  TYPE  ==========*/

// font-family
ff_base = Arial, "Helvetica Neue", Helvetica, sans-serif;

// font-size
fz_base = 14px;


// line-height
lh_base = 16px;


/*==========  COLORS  ==========*/

c_base = #000;
c_link = #1aa0dd;


// background-color
bg_base = #fff;


/*==========  Z-INDEXES  ==========*/

// z_base = 10;


/*==========  TRANSITIONS  ==========*/

trs_base = .2s;


