.btn
  display inline-block
  vertical-align top
  border 0

  height 50px
  line-height 50px
  padding 0 20px

  background #000
  color #fff

  text-align center
  font-size fz_base
  text-decoration none
  text-transform uppercase

  white-space nowrap

  transition background time

  &:hover
    text-decoration none
    background lighten(#000, 10%)

  &:active
  &:focus
    text-decoration none
    background lighten(#000, 15%)
