<div class="collapse js-collapse"{{#if isMultiple}} data-collapse="multiple"{{/if}}>
  <div class="collapse__item js-collapse-item{{#if isMultiple}} opened{{/if}}">
    <a href="#" class="collapse__header js-collapse-toggle">Пункт 1</a>
    <div class="collapse__body js-collapse-body">
      Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Имеет, пустился. Буквоград заманивший безорфографичный пустился назад раз она вдали сих. Ручеек lorem однажды рыбного. Образ эта, по всей строчка запятых.
    </div>
  </div>
  <div class="collapse__item js-collapse-item opened">
    <a href="#" class="collapse__header js-collapse-toggle">Пункт 2</a>
    <div class="collapse__body js-collapse-body">
      <p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Грамматики встретил, злых вскоре, текстов маленькая необходимыми живет коварных повстречался, пояс свое образ себя точках моей ему сих не ipsum.</p>
    </div>
  </div>
  <div class="collapse__item js-collapse-item">
    <a href="#" class="collapse__header js-collapse-toggle">Пункт 3</a>
    <div class="collapse__body js-collapse-body">
     <p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Страну предупредила, вдали, бросил предложения пунктуация власти, дал жизни ему языком имени выйти грустный! Необходимыми заголовок о вопрос, бросил своего.</p>
    </div>
  </div>
</div>
