<form action="#" class="form">
  <label for="CHECKBOX_NAME" class="checkbox">
    <input type="checkbox" name="CHECKBOX_NAME" id="CHECKBOX_NAME" class="checkbox__inp" value="CHECKBOX_NAME">
    <span class="checkbox__ind"></span>
    Чекбокс
  </label>
  <label for="RADIO_NAME1" class="radio">
    <input type="radio" name="RADIO_NAME" id="RADIO_NAME1" class="radio__inp" value="RADIO_NAME1">
    <span class="radio__ind"></span>
    Радио1
  </label>
  <label for="RADIO_NAME2" class="radio">
    <input type="radio" name="RADIO_NAME" id="RADIO_NAME2" class="radio__inp" value="RADIO_NAME2">
    <span class="radio__ind"></span>
    Радио2
  </label>
  <div class="select">
    <select name="SELECT_NAME_FILTER" aria-label="SELECT_NAME_FILTER">
      <option value="price up">По цене ↑</option>
      <option value="price down">По цене ↓</option>
    </select>
  </div>
</form>